$chat_area: rgb(245, 245, 245); //聊天背景
$slider_l: rgb(38, 41, 45); //最左侧菜单栏
$slider_r: rgb(236, 234, 232); //左侧列表栏
.container {
    height: 500px;
    width: 786px;

    .slider {
        flex-basis: 312px;

        .col_l {
            background: $slider_l;
            flex-basis: 20%;
        }

        .col_r {
            background: $slider_r;
        }
    }

    .major {
        .chat_header {
            flex-basis: 15%;
            background: $chat_area;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .chat_area {
            background: $chat_area;
            flex-basis: 60%;
            box-sizing: border-box;
            padding: 10px 30px 12px 30px;

            .time_line {
                span {
                    padding: 2px 8px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 10px;
                    background: rgb(218, 218, 218);
                }
            }

            .msg_box {
                padding: 15px;

                .msg_box_l {
                    box-sizing: border-box;
                    padding: 10px;

                    img {
                        width: 26px;
                        height: 26px;
                    }
                }

                .msg_box_r {
                    .title {
                        color: rgb(178, 178, 178);
                    }

                    p {
                        background: #fff;
                        color: rgb(35, 35, 35);
                        font-size: 14px;
                        padding: 12px;
                        margin: 5px 0;
                        border-radius: 5px;
                    }
                }
            }
        }

        .chat_footer {}
    }
}
